@*@Html.Label("Select Services")
@Html.DropDownList("CategoryServiceId", (SelectList)ViewBag.CategoryServicelist, new { @class = "form-control" })*@
@{ 
    var i = 0;
}
@foreach (var item in ViewBag.CategoryServicelist)
{
    <div class="row">
        <div class="col-lg-5 col-sm-4 col-xs-12">
            <div class="form-group" style="margin-top:17px">
                <input type="checkbox" name="ServiceDetails[@i].IsSelected" value="true" />@item.Name
                <input type="hidden" name="ServiceDetails[@i].CategoryServiceId" value="@item.CategoryServiceId" />

            </div>
        </div>
        <div class="">
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <select class="form-control" style="margin-top:25px" name="ServiceDetails[@i].ServiceType">
                    <option>Select Service type</option>
                    <option value="hour">Hour</option>
                    <option value="visit">Visit</option>
                    <option value="Service">Service</option>
                </select>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-12">
                @Html.Label("Services Price")
                @Html.TextBox("ServiceDetails[" + @i + "].ServicePrice", null, new { @class = "form-control" })
            </div>
        </div>
    </div>

    i = i + 1;
    <hr />
}